<div class="window" style="margin: 32px; width: 250px">
  <div class="title-bar">
    <div class="title-bar-text">
      Angular Password Generator
    </div>
  </div>
  <div class="window-body">
    <p>Generate your new secure password (min 4 chars length)</p>
    <div class="password-form">
      <form [formGroup]="form">
        <div class="form-group">
          <label>Enter Length</label>
          <input type="number" [(ngModel)]="passLength" formControlName="passLength" class="form-control" [ngClass]="{ 'is-invalid': submitted  && f.passLength.errors }" />
          <div *ngIf="submitted && f.passLength.errors" class="invalid-feedback">
            <div *ngIf="f.passLength.errors.required">Password Length is required</div>
          </div>
        </div>
    
        <div class="form-group">
          <div formArrayName="chkConditions" *ngFor="let check of chkConditionsFormArray.controls; let i = index">
            <p>
              <input type="checkbox" id="{{i}}" [formControlName]="i" (change)="onCheckBoxTick($event, form.get('chkConditions.'+i), arrayOfConditions[i].name)">
              <label for="{{i}}">{{ arrayOfConditions[i].title }}</label>
            </p>
          </div>
        </div>
    
        <div>
          <button  [disabled]="!form.valid" (click)="generateClicked()">Generate!</button>
        </div>
    
        <div>
          <label>Your Password</label>
          <input type="text" value="{{newPassword}}" />
        </div>
    
    
    
      </form>
    
    
    </div>
    

  </div>
</div>
