<div class="password-form">
  <h1>Angular Password Generator Reloaded</h1>
  <form [formGroup]="form">
    <div class="form-group">
      <label>Enter Length</label>
      <input type="number" [(ngModel)]="passLength" formControlName="passLength" class="form-control" [ngClass]="{ 'is-invalid': submitted  && f.passLength.errors }" />
      <div *ngIf="submitted && f.passLength.errors" class="invalid-feedback">
        <div *ngIf="f.passLength.errors.required">Password Length is required</div>
      </div>
    </div>

    <div class="form-group">
      <label formArrayName="chkConditions" *ngFor="let check of chkConditionsFormArray.controls; let i = index">
        <div>
          <input type="checkbox" [formControlName]="i" (change)="onCheckBoxTick($event, form.get('chkConditions.'+i), arrayOfConditions[i].name)">
          {{ arrayOfConditions[i].title }}
        </div>
      </label>
    </div>

    <div>
      <button  [disabled]="!form.valid" (click)="generateClicked()">Generate!</button>
    </div>

    <div>
      <label>Your Password</label>
      <input type="text" value="{{newPassword}}" />
    </div>



  </form>


</div>


<div>
  
</div>






